.LoginContainer{
    width: 20%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: flex-end;
}

.LoginContainer .LoginButton{
    background-color: transparent;
    font-size: 16px;
    color: white;
    transition: .5s all;
    text-transform: capitalize;
}

.LoginButton:hover{
    color: rgb(241, 84, 11);
    transform: translateY(-3px);
}