.NavBarContainer{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 6, 54);
}

.NavBarLogo{
    width: 50%;
}

.NavBarLogo .Logo{ 
    width: 200px;
}

.NavBarLogo .Logo:hover{ 
    cursor: pointer;
}

.NavBarMenu{
    width: 50%;
    height: 200px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NavBarMenu .MenuItems, .NavBarMenu .Search{
    width: 60%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.NavBarMenu .MenuItems2{
    width: 60%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: flex-end;
}

.MenuItems .Menu{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Menu .MenuButton{
    background-color: transparent;
    font-size: 16px;
    color: white;
    transition: .5s all;
    text-transform: capitalize;
}

.MenuButton:hover{
    color: rgb(241, 84, 11);
    transform: translateY(-3px);
}

.NavBarUserPicture{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    overflow: hidden;
}

.NavBarUserPicture img{
    width: 50px;
}

.NavBarMenu .Search{
    width: 62%;
    height: 70px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.Search .InputSearch{ 
    width: 425px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.Search .InputSearch:focus{ 
    outline: solid 1px rgb(241, 84, 11);
}
